/* 헤더 및 모바일메뉴 */
@media screen and (max-width:1350px) {
	.inner {
		width: 95%;
	}
}

@media screen and (max-width:1000px) {
	body {
		padding-top: 48px;
	}

  .header-top {
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    z-index: 9999;
  }

  .gnb {
    display: none;
  }

  .header-bottom {
    position: fixed;
    left: 0;
    top: 0;
  }

  .header-top-depth1 {
    display: none;
  }

  .header-bottom-fix {
    display: block;
    height: 88px;
  }

  .gnb {
    display: none;
  }

  .search-box {
    display: none;
  }

  .logo-fix {
    animation: none;
  }

  .logo-fix-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 46px;
  }

  .mb-more-menu {
    display: block;
  }

  .mb-search-box {
    display: block;
  }
}

/* 비주얼 반응형 */
@media screen and (max-width:1700px) {
	.sw-visual-prev {
		left: 70px;
	}
}

@media screen and (max-width:1600px) {
	.sw-visual-prev {
		left: 50px;
	}
}

@media screen and (max-width:1500px) {
	.sw-visual-prev, .sw-visual-next, .btn-arrow {
		visibility: hidden;
	}
}

@media screen and (max-width:1350px) {

	.visual-txt {
		width: 95%;
	}
}

@media all and (max-width: 1000px) {
	.visual {
		height: 600px;
	}

	.visual-txt {
		margin: 0 auto;
		padding-top: 200px;
	}

  .visual-txt-center{
    font-size: 35px;
  }
}


/* 공지사항 */
@media all and (max-width: 1000px) {
  .notice-left > h3{
    font-size: 19px;
    width: 75px;
  }

  .notice-content {
    font-size: 16px;
    margin-left: 10px;
  }

  .date {
    margin-left: 15px;
  }
}

/* 인트로 영역 */
@media all and (max-width: 1100px) {
	.intro {
		padding: 120px 0 120px 0;
	}

  .intro-kor {
    font-size: 25px;
		line-height: 36px;
  }

  .intro-eng {
    font-size: 15px;
		line-height: 28px;
  }
}

@media all and (max-width: 830px) {
  .intro-kor {
    font-size: 23px;
		line-height: 32px;
  }

  .intro-eng {
    font-size: 15px;
		line-height: 24px;
  }
}

/* 아이템 리스트 */
@media all and (max-width: 1000px) {
	.item-list .inner {
		position: relative;
		padding-top: 30px;
	}

  .item-title {
    font-size: 32px;
  }

	.item-goods-list li {
		width: 100%;
		margin-bottom: 180px;
	}

	.item-origin {
		margin-bottom: 100px;
	}

	.item-blend {
		margin-bottom: 100px;
	}
}

/* 푸터영역 */
@media all and (max-width: 1250px){
	.footer {
		background: #f15747;
		padding: 30px 0 30px 0;
	}
	
	.footer .inner {
		width: 95%;
	}

	.footer-left {
		width: 100%;
		padding-right: 0;
	}
	
	.footer-logo {
		margin-bottom: 28px;
	}
	
	.footer-info-wrap{
		position: relative;
		display: block;
		text-align: center;
	}

	.footer-info {
		position: relative;
		display: inline-block;
		margin-bottom: 15px;
	}
	
	.footer-info a {
		font-size: 20px;
	}

	.footer-info2{
		text-align: center;
		padding-bottom: 32px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}

	.footer-info2 span {
		font-size: 15px;
	}
	
	.footer-right {
		width: 100%;
	}
	
	.footer-right h3 {
		margin: 10px 0;
	}
	
	.footer-right-support {
		margin-right: 0;
		width: 50%;
		height: 200px;
		text-align: center;
	}
	
	.footer-right-support button {
		width: 70%;
		margin: 10px auto;
	}
	
	.footer-right-comu {
		width: 50%;
		height: 200px;
		text-align: center;
	}
	
	.footer-right-comu-l {
		width: 50%;
		margin-right: 0;
	}

	.footer-right-comu-l li {
		width: calc(100% - 20px);
		text-align: right;
		margin-right: 20px;
	}

	.footer-right-comu-l li a {
		line-height: 33px;
	}

	.footer-right-comu-r {
		width: 50%;
		margin-right: 0;
	}

	.footer-right-comu-r li {
		width: calc(100% - 20px);
		text-align: left;
		margin-left: 20px;
	}

	.footer-right-comu-r li a {
		line-height: 33px;
	}
	
	.footer-sns {
		position: absolute;
		right: 0;
		top: 0;
	}

	.footer-copy p {
		margin-top: 10px;
	}
}


@media all and (max-width: 1000px){
	.footer-info a {
		font-size: 20px;
	}

	.footer-info2 span {
		font-size: 14px;
	}
}