@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat' ,'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}
/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.right{
  float: right;
}
.left{
  float: left;
}

.inner {
  position: relative;
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}
/* 팝업 영역 */
.pop-up{
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  background-color: #fc5240;
  overflow: hidden;
}

.pop-up > ul{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.pop-up > ul > li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pop-up-first{
  background:#fc5240;
  z-index: 5;
}
.pop-up-first a{
  color: #fff;
}

.pop-up-first span{
  color: #ffeca1;
}

.pop-up-second{
  background:#111;
}

.pop-up-second a{
  color: #fff;
}

.pop-up-second strong{
  color: #fc5240;
}

/* 전체영역 */
.wrap{
  position: relative;
  display: block;
}

/* 헤더영역 */
.header{
  position: fixed;
  left: 0;
  top: 50px;
  display: block;
  width: 100%;
  z-index: 9999;
}


.header .inner{
  position: relative;
  display: block;
}

.header-top{
  position: relative;
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.logo{
  position: relative;
  display: block;
  width: 213px;
  height: 46px;
  background: url('../images/logo.png') no-repeat center;
  background-size: cover;
  font-size: 0;
}
.header-top-depth1{
  position: relative;
  display: block;
}
.header-top-depth1 > li{
  position: relative;
  display: inline-block;
}


.benefit{
  position: absolute;
  top: -28px;
  right: -10px;
  display: block;
  width: 88px;
  background-color: #fc5240;
  padding: 3px 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border-radius: 18px;
  animation: upDown 0.5s infinite;
}
.benefit::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  display: block;
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  background-color: #fc5240;
  margin-left: -2px;
}

@keyframes upDown {
  from {
    top: -30px;
  }

  to {
    top: -28px;
  }
}

.header-top-depth1 > li > a{
  position: relative;
  display: block;
  font-size: 14px;
  color: #999;
  margin: 0 12px;
}

.header-top-depth1 > li > a:last-child{
  margin-right: 0;
}

.header-bottom{
  position: relative;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  /* transition: all 0.5s; */
}

.gnb{
  position: relative;
  display: block;
  text-transform: uppercase;
  line-height: 70px;
}
.depth1{
  position: relative;
  display: block;
  font-size: 0;
}
.depth1 > li{
  position: relative;
  display: inline-block;
  margin-right: 35px;
  transition: all 0.5s;
}


.mainmenu::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 13px;
  width: 0%;
  height: 2px;
  background: #fc5240;
  visibility: hidden;
  transition: all 0.3s;
}

.depth1 li:hover .mainmenu::after{
  left: 0%;
  width: 100%;
  visibility: visible;
}


.depth1 > li:last-child{
  margin-right: 0;
}

.depth1 > li > a{
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 700;
  color: #222;
}

.mainmenu-focus{
  color: #fc5240 !important;
}
/* nth-child 안먹네요.. 도와주세요 */

.depth1 > li:nth-child(3)::after{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ff5880;
  border-radius: 50%;
  vertical-align: top;
  top: 20px;
  right: -6px;
  position: absolute;
}


.depth1>li:hover .depth2{
  position: absolute;
  top: 57px;
  left: 0;
  display: block;
  width: 150px;
  background: #fff;
  padding: 10px 0;
  z-index: 99;
  border: 1px solid #eee;
  border-radius: 0 20px 0px 20px;
  visibility: visible;
  opacity: 1;
  text-align: left;
}

.depth2{
  position: absolute;
  top: 57px;
  left: 0;
  display: block;
  width: 150px;
  background: #fff;
  padding: 10px 0;
  z-index: 99;
  border: 1px solid #eee;
  border-radius: 0 20px 0px 20px;
  visibility: hidden;
  opacity: 0;
  text-align: left;
}

.depth2 > li {
  position: relative;
  display: block;
  white-space: nowrap;
  line-height: 30px;
}

.depth2 > li > a {
  color: #777777;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px 5px;
}

.search-box{
  position: relative;
  display: flex;
  align-items: center;
}

.search-box-password{
  position: relative;
  display: inline-block;
}

.password{
  position: relative;
  display: inline-block;
  width: 210px;
  height: 32px;
  line-height: 32px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  outline: 0;
}

.password-img{
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}

/* password-hv를 호버했을때 포커스 안빠지게하는 가림막 */
.password-hv::before{
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  display: block;
  width: 200px;
  height: 300px;
  z-index: -1;
}

.password-hv{
  position: absolute;
  top: 40px;
  left: 0;
  /* display: block; */
  width: 300px;
  opacity: 0;
  background: rgba(255,255,255,0.9);
  transition: opacity .25s ease;
  z-index: 999;
  border-radius: 0 20px 0px 20px;
  visibility: hidden;
  padding: 20px;
  box-sizing: border-box;
  min-height: 200px;
  max-height: 230px;
  border: 0px solid #eee;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 5%);
  text-align: left;
}

.search-box-password:hover .password-hv{
  opacity: 1;
  visibility: visible;
}

.password-hv h2{
  font-size: 18px;
  margin-bottom:14px;
}
.password-hv p a {
  color: #fc5240;
  font-size: 14px;
  display: inline-block;
  margin: 4px 6px;
  cursor: pointer;
  transition: color .25s ease,background .25s ease;
}

.password-hv p a:hover{
  color: #555;
}

.cart-wrap{
  position: relative;
  display: inline-block;
  margin-left: 15px;
}

.cart{
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 70px;
  background: url('../images/bt_top_cart.png') no-repeat center;
  font-size: 0;
}

.cart-number{
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background: #2a2a2a;
  color: #fff;
  font-size: 10px;
  padding: 0px 3px 0px;
  border-radius: 50%;
}

/* 픽스 됐을때 */
.header-bottom-fix{
  position: fixed;
  display: flex;
  justify-content: space-around;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  font-size: 0;
  align-items: center;
}

.fixed-header{
  position: relative;
  display: flex ;
}

.logo-fix{
  display: block;
  margin-right: 0;
  overflow: hidden;
  width: 0px;
  opacity: 0;
  visibility: hidden;
  font-size: 0;
  transition: ease-in-out 0.3s;
} 

.logo-fix-img{
  position: relative;
  display: inline-block;
  height: 41px;
}



/* 비주얼 영역 */
.visual{
  position: relative;
  display: block;
  width: 100%;
  height: 800px;
}

.sw-visual {
  width: 100%;
  height: 100%;
}

.sw-visual .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.visual-1 {
  background: url('../images/visual1.jpg') no-repeat center;
  background-size: cover;
}

.visual-2 {
  background: url('../images/visual2.jpg') no-repeat center;
  background-size: cover;
}

.visual-3 {
  background: url('../images/visual3.jpg') no-repeat center;
  background-size: cover;
}

.visual-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -640px;
  display: block;
}

.visual-txt-top {
  display: block;
  color: #fc5240;
  font-size: 21px;
  margin: 0 0 10px;
  /* animation: fadeInUp 0s infinite;
  animation-duration: 3s;
  animation-delay: 1s; */
}

.visual-txt-center {
  font-size: 44px;
  color: #222;
  display: block;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;
  animation: fadeInUp 0.5s infinite;
  animation-duration: 3s;
  animation-delay: 1s;
}

.center-next {
  animation: fadeInUp 1s infinite;
  animation-duration: 3s;
  animation-delay: 1s;
}

.visual-txt-bt {
  font-size: 16px;
  border: 1px solid #222;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 40px;
  animation: fadeInUp 0.5s infinite;
  animation-duration: 3s;
  animation-delay: 1s;
}

.visual-txt-bt:after {
  content: "+";
  padding-left: 20px;
}

.visual-txt-bt:hover {
  color: #fff;
  background-color: #000;
}

/* aos로 해볼려고 했는데 반복 모션 할 줄 몰라서 차선으로.. */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 80%, 0);
  }
  100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

.sw-visual-prev {
  position: absolute;
  left: 10%;
  top: 50%;
  margin-left: -20px;
  transform: translateY(-50%);
  display: none;
  width: 30px;
  height: 90px;
  background: url('../images/btn_arrow.png') no-repeat 0 0;
  z-index: 9;
  border: 0;
  cursor: pointer;
}

.sw-visual-next {
  position: absolute;
  right: 10%;
  top: 50%;
  margin-right: -20px;
  transform: translateY(-50%);
  display: none;
  width: 30px;
  height: 90px;
  background: url('../images/btn_arrow.png') no-repeat right top;
  z-index: 9;
  border: 0;
  cursor: pointer;
}

.visual:hover .btn-arrow {
  display: block; 
}

.sw-visual-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: block;
  z-index: 9;
}

.sw-visual-pg .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #00000040;
  opacity: 1;
  margin: 5px;
  border-radius: 5px;
  transition: all 1s;
}

.sw-visual-pg .swiper-pagination-bullet-active {
  width: 30px;
  background-color: #0000008c;
  opacity: 1;
}

/* 공지사항 영역 */
.notice{
  position: relative;
  display: block;
  background: #fff;
  padding: 35px 0;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
}

.notice-left h3 {
  font-size: 22px;
  font-weight: 600;
  width: 120px;
  float: left;
  letter-spacing: -0.25px;
}

.notice-right {}

.notice-content {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  font-size: 17px;
  margin-top: 2px;
  float: left;
}

.date {
  display: inline-block;
  color: #777;
  font-size: 15px;
  margin-top: 4px;
  margin-left: 15px;
}

.notice-control {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
}

.notice-control a:hover {
  border: 1px solid #000000;
}

.sw-notice-prev {
  font-size: 0;
  border: 1px solid #ddd;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  border-radius: 50%;
  right: 167px;
  z-index: 9;
}

.sw-notice-prev:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  transform: rotate( 315deg );
  margin: 12px 0 0 14px;
  border-radius: 1px;
}

.sw-notice-next {
  font-size: 0;
  border: 1px solid #ddd;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  border-radius: 50%;
  right: 120px;
  z-index: 9;
}

.sw-notice-next:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  transform: rotate( 135deg );
  margin: 12px 0 0 10px;
  border-radius: 1px;
}

.sw-notice-more {
  font-size: 0;
  border: 1px solid #ddd;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  border-radius: 50%;
  right: 0;
  z-index: 9;
}

.sw-notice-more:before {
  content: "";
  display: block;
  width: 17px;
  height: 2px;
  background: #444;
  margin: 17px auto 0;
  border-radius: 1px;
}

.sw-notice-more:after {
  content: "";
  display: block;
  width: 2px;
  height: 17px;
  background: #444;
  margin: -9px auto 0;
  border-radius: 1px;
}

/* 인트로 영역 */
.intro {
  position: relative;
  display: block;
  text-align:center;
  padding:240px 0 140px 0; 
}

.intro-kor {
  background-color:#fff; 
  font-size:32px; 
  font-weight:600;
  line-height:46px; 
  color:#111;
}

.intro-eng {
  font-size:20px; 
  font-weight:200;
  line-height:36px; 
  color:#fc5240; 
  padding-top:16px; 
  padding-bottom:10px;
}

.intro-btn {
  width:160px; 
  background:#fff; 
  border:1px solid #ddd; 
  margin:20px auto; 
  height:36x; 
  line-height:36px; 
  color:#666; 
  font-size:14px; 
  cursor: pointer;
}

.intro-btn:hover {
  background:#fc5240;  
  border:1px solid #fc5240; 
  color:#fff;
}

/* 아이템 리스트 */

/* 푸터영역 */